body {
  margin: 0;
  padding: 0;
  background: #ffe url(../images/background-texture.png) repeat scroll left top;
  font-size: 100%;
  font-family: Rokkitt, Georgia, serif;
}
* {
  box-sizing: border-box;
}
.modal {
  display: none;
  position: fixed;
  background: rgba(0,0,0,.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal .wrapper {
  background: white;
  width: 600px;
  margin: 40px auto;
  padding: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.modal .close-modal {
  float: right;
}
.modal ul {
  overflow-y: scroll;
  height: 300px;
  list-style: square inside;
}
.modal h4 {
  color: crimson;
}
.header {
  font-size: 1em;
  padding: 1em 0;
  color: crimson;
  overflow: hidden;
}
.header a {
  display: inline-block;
  color: crimson;
  border: 2px solid crimson;
  border-radius: 4px;
  float: right;
  text-decoration: none;
  padding: .25em .5em;
  font-size: 1.25em;
}
.header a:hover {
  color: black;
  border-color: black;
}
.header a:active {
  color: white;
  background-color: crimson;
  border-color: crimson;
}
.header h1 {
  margin: 0;
  padding: 0;
  float: left;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
.main {
  position: relative;
}
.footer {
  clear: both;
  background-color: crimson;
  color: white;
  padding: 1em 0;
  overflow: hidden;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: gold;
}
.footer p {
  margin: 0 auto 1em;
  text-align: center;
}
.colophon {
  text-align: center;
}
.colophon .facebook {
  width: 340px;
  margin: 1em auto;
}
.colophon .supported-by {
  background: white;
  padding: 1em;
}
.colophon .supported-by strong {
  color: crimson;
  display: block;
}
.colophon .supported-by a {
  border: 2px solid #ddd;
  display: inline-block;
  padding: 1em;
  border-radius: 4px;
}
.colophon .supported-by a:hover {
  border-color: crimson;
}
.colophon .supported-by a img {
  max-height: 50px;
}

.bar-graph {
  float: right;
  width: 300px;
  font-size: .85em;
  white-space: nowrap;
  clear: right;
}
.bar-graph ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bar-graph li {
  margin-bottom: 1px;
  text-align: right;
}
.bar-graph .meter {
  padding: .25em .5em;
  font-weight: 900;
  text-align: right;
  display: inline-block;
  background-color: rgba(220, 20, 60, .8);
  font-size: .85em;
  height: 2em;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #000;
  text-shadow: rgba(0,0,0,.3) 0 -1px 0;
}
.bar-graph .meter:hover,
.bar-graph .hover .meter,
.bar-graph .active .meter {
  border-color: black;
  background-color: rgb(220, 20, 60);
}
#info {
  margin-top: 20px;
  margin-right: 340px;
  background: crimson;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#info h3 {
  color: white;
  padding: .25em;
}
#info section {
  color: white;
  display: table-cell;
  vertical-align: top;
}
#map {
  width: 600px;
  height: 600px;
}
h3 {
  color: crimson;
  font-size: 2em;
  margin: 0;
}
#info p {
  margin: 0;
  font-size: 1.15em;
  padding: .25em .5em;
  white-space: nowrap;
}
#info .local p {
  display: inline-block !important;
}
#info div.ratio {
  margin-top: 56px;
}
#info div.timeline {
  margin-top: 8px;
}
#info .timeline canvas {
  margin-left: 40px;
  margin-top: 10px;
}
#info div.age {
  margin-left: 40px;
}
#info div.age p,
#info .local p {
  text-align: center;
}
#info div.period p em {
  vertical-align: 8px;
}
#info p em {
  font-weight: bold;
  font-style: normal;
  font-size: 1.75em;
  display: inline-block;
  color: white;
}

/* SVG STYLING */
#map #svg2 {
  height: 600px;
  width: 600px;
}
path.str3 {
  fill: crimson;
  fill-opacity: 0;
}
path.hover {
  stroke-opacity: .5;
  stroke: crimson;
  stroke-width: 1500px;
  cursor: pointer;
}
path.active {
  stroke: black !important;
  stroke-width: 1500px;
  stroke-opacity: .5;
  cursor: default;
}
/* icons */
.icons-wrapper {
  text-align: center;
}
.icon {
  background-color: transparent;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.icon.sun,
.icon.moon {
  width: 36px;
  height: 36px;
  display: inline-block;
}
.icon.victim,
.icon.author {
  width: 50px;
  height: 49px;
  display: block;
}
.icon.home,
.icon.street,
.icon.others {
  width: 36px;
  height: 36px;
  display: inline-block;
}
.icon.sun {
  background-position: -72px 0;
}
.icon.moon {
  background-position: 0 0;
}
.icon.victim {
  background-position: -149px 0;
}
.icon.author {
  background-position: -249px 0;
}
.icon.home {
  background-position: -450px 0;
}
.icon.street {
  background-position: -396px 0;
}
.icon.others {
  background-position: -350px 0;
}

/* DASHBOARD */
#dashboard-header {
  overflow: hidden;
}
section.age .figures {
  width: 200px;
}
#info .region-data {
  float: right;
  color: white;
  margin-top: 10px;
}
#info .region-data em {
  font-size: 1.25em;
  display: inline;
}
#info .figures {
  clear: both;
  overflow: hidden;
}
#info .age p,
#info .period p em {
  display: inline-block;
}
#info .ranking p,
#info .period p {
  display: block;
}
#info .figures p {
  margin-right: .5em;
}
#map .loading {
  margin: 300px auto;
  display: block;
}
