body {
  border-top: 4px solid crimson;
  margin: 0;
  padding: 0;
  background: #ffe url(../images/background-texture.png) repeat scroll left top;
  font-size: 100%;
  font-family: Rokkitt, Georgia, serif;
}
.header {
  padding: .5em 2em;
  font-size: 1.2em;
  width: 600px;
  margin: 0 auto;
}
.main {
  position: relative;
}
#info {
  position: absolute;
  font-size: .7em;
  margin: 0 4em;
  top: 40px;
  right: 40px;
  width: 310px;
}
#map {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
#info h3 {
  color: crimson;
  font-size: 2em;
  border-bottom: 3px solid crimson;
}
#info p {
  font-size: 1.5em;
  line-height: 2em;
  color: #777;
}
#info p:last-child {
  padding-bottom: 1em;
  border-bottom: 1px solid crimson;
}
#info p em {
  color: #333;
  font-weight: bold;
  font-style: normal;
  font-size: 4em;
  display: block;
  color: crimson;
}
#map {
  background: white;
  border: 6px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#map .loading {
  margin: 200px auto;
  display: block;
}

/* SVG STYLING */
#map #svg2 {
  height: 600px;
  width: 600px;
}
path.fil4 {
  fill: crimson;
  fill-opacity: 0;
}
path.active {
  fill-opacity: .5;
  stroke-opacity: .5;
  stroke: crimson;
  stroke-width: 1500px;
}
/* icons */
.icons-wrapper {
  text-align: center;
}
.icon {
  background-color: transparent;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.icon.sun,
.icon.moon {
  width: 36px;
  height: 36px;
  display: inline-block;
}
.icon.sun {
  background-position: -72px 0;
}
.icon.moon {
  background-position: 0 0;
}
.icon.victim {
  width: 51px;
  height: 106px;
  display: block;
  background-position: -155px -21px;
}
.icon.author {
  width: 48px;
  height: 126px;
  display: block;
  background-position: -216px 0;
}
